
<!-- wordle clone  -->
<main class="main">
  <div class="word-matrix">
    <div class="row" *ngFor="let row of rows">
        <div class="cell" *ngFor="let cell of row.cells" [ngClass]="cell.status">
        {{ cell.letter }}
        </div>
    </div>
  </div>
  <div class="game-status">
    <p *ngIf="gameStatus === 'won'">Congratulations! You've won!</p>
    <p *ngIf="gameStatus === 'lost'">Game Over! Better luck next time.</p>
    <p *ngIf="gameStatus === 'playing'">Game in progress. You have {{ rows.length - currentRow }} attempts left!</p>
  </div>
  <form *ngIf="gameStatus === 'playing'" class="input-form" (submit)="onSendInput($event)">
    <input [disabled]="formDisabled" maxlength="5" accept="text/plain" [(ngModel)]="inputValue" name="wordInput" id="word-input" />
    <button type="submit" [disabled]="formDisabled" name="sendButton">Enter</button>
  </form>
  <div class="reset-game" *ngIf="gameStatus !== 'playing'">
    <button (click)="resetGame()" name="resetButton">Reset Game</button>
  </div>
</main>

<router-outlet />
