.main {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    .input-form {
        display: flex;
        gap: 10px;

        input {
            width: 200px;
            height: 30px;
            font-size: 16px;
            padding: 5px;
        }
    }

    button {
        font-size: 16px;
        cursor: pointer;
        background-color: cornflowerblue;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        &:disabled {
            background-color: lightskyblue;
            color: black;
            cursor: not-allowed;
        }
    }
}

.word-matrix {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
        display: flex;
        gap: 10px;

        .cell {
            width: 40px;
            height: 40px;
            border: 2px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;

            &.correct {
                background-color: green;
                color: white;
            }
            &.present {
                background-color: yellow;
                color: black;
            }
            &.absent {
                background-color: lightgray;
                color: black;
            }
        }
    }
}